<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/Website.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>glitter | about</title>
  </head>
  <body>

  <!-- Header Section -->
    <header class="header">
      <div class="logo-container">
        <a href="{% url 'display_home' %}" class="logo">Glitter Options</a>
      </div>
      <div class="navigation">
        <a href="{% url 'display_about' %}" class="about-link">About</a>
        <a href="https://twitter.com/glitteroptions?s=21&t=K2xvwYUI22wW4v2q4JbvMQ" target="_blank" class="twitter-link">
          <i class="fa-brands fa-x-twitter"></i> Twitter</a>
        <a href="https://discord.gg/7Xs3CTpH" target="_blank" class="discord-link">
          <i class="fab fa-discord"></i> Discord</a>
      </div>
      <div class="button-container">
        <button>
          <a href="{% url 'display_user_options' %}">Start Filtering</a>
          <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="37" cy="37" r="35.5" stroke="black" stroke-width="3"></circle>
            <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="black"></path>
          </svg>
        </button>
      </div>
    </header>

    <!-- Tagline Section -->
    <div class="about">
      <h1 class="about1">About Us...</h1>
      <img src="{% static 'css/images/istockphoto-1193052301-612x612.remini-enhanced.jpg' %}" alt="Img" class="image">
    </div>
    
    <!-- Body Section -->
    <div class="vision">
      <h2 class="vision1">Our Vision</h2>
      <p class="p2">Our vision at Glitter is to empower and transform the options trading industry by revolutionizing the way traders make informed investment decisions. We strive to be the go-to platform that simplifies the complex world of options by leveraging cutting-edge technology and advanced algorithms. By providing users with a user-friendly and efficient tool, we aim to enhance their trading experience and enable them to unlock their full potential in the market.</p>
      <p class="p3">Let's talk, fellow trader.</p>
      <a href="mailto:hi@glitterfund.xyz" class="email-button">
        <span>hi@glitterfund.xyz</span>
      </a>

      <div class="socials">
        <span class="twitter-icon-container">
          <a href="https://twitter.com/glitteroptions?s=21&t=K2xvwYUI22wW4v2q4JbvMQ" target="_blank" class="twitter-icon">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
        </span>
        <span class="discord-icon-container">
          <a href="https://discord.gg/7Xs3CTpH" target="_blank" class="discord-icon">
            <i class="fab fa-discord"></i> 
          </a>
        </span>
      </div>
    </div>

    <!-- Tagline Section -->
    <div class="wrapper">
      <div class="team">
        <div class="team-content">
          <img src="{% static 'css/images/WhatsApp Image 2023-07-28 at 5.06.11 PM.remini-enhanced.jpg' %}" alt="Img2" class="team-image">
          <div class="text-container">
            <h1 class="teams">Team Story</h1>
            <p class="p4">Glitter was founded by a group of experienced finance professionals who recognized the need for a more efficient and user-friendly platform in the options trading market. With a shared passion for empowering individuals to make informed investment decisions, the team came together to develop an innovative web app that would revolutionize the way aspiring options traders approach their investments. Through their collective expertise and dedication, Glitter aims to provide a seamless and comprehensive solution that helps users optimize their options trading strategies and achieve financial success.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Section -->
    <footer>
      <p><h4>glitter-fund</h4></p>
      <p>Attention Traders: The following pages may cause paradigm shifts, awaken the inner trader, and result in extraordinary wealth creation. Please fasten your seatbelts and keep your eyes on the charts at all times.</p>
      <p>Disclaimer: this tool is provided to users for filtering price to liquidity and in no way provides investment recommendations.</p>
      <p>Personal Data and Information: We protect the privacy of your information and will never share your data. Your data is protected with 256-bit SSL encryption and never stored on any phone, tablet, or computer. We take your privacy seriously.</p>
      <p>© 2023 glitter, Inc. All rights reserved.</p>
    </footer> 
      
  </body>
</html>