@font-face {
  font-family: Dela;
  src: url(DelaGothicOne-Regular.ttf);
}

@font-face {
  font-family: Avenir;
  src: url(AvenirNextLTPro-Bold.otf);
}

.body {
  width: 100%;
  background: transparent;
  position: relative;
}



.body video {
  position: fixed; /* This makes the video position itself relative to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: -100; /* This ensures the video stays behind the content */
  object-fit: cover;
}

#video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

/* Fullscreen video styles */
#video-container video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
} */




.frame2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.frame2-frame2 {
  width: 100%;
  height: 2949px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-rectangle {
  top: 0px;
  left: 4px;
  width: 100%;
  height: 983px;
  position: absolute;

}

.frame2-rectangle1 {
  top: 983px;
  left: 4px;
  width: 1512px;
  height: 983px;
  position: absolute;
}

.frame2-rectangle2 {
  top: 1966px;
  left: 4px;
  width: 1512px;
  height: 983px;
  position: absolute;
}

.frame2-group14 {
  top: 204px;
  left: 55px;
  width: 1402px;
  height: 2695px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame2-group11 {
  top: 0px;
  left: 629px;
  width: 195.6632537841797px;
  height: 179.16477966308594px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame2-component-default {
  rotate: 67deg;
  top: 30px;
  left: 40px;
  width: 154px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-rectangle14 {
  top: 7px;
  left: 0px;
  width: 154px;
  height: 73px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}

.frame2-rectangle15 {
  top: 15px;
  left: 8px;
  width: 155px;
  height: 80px;
  position: absolute;
  border-color: rgba(171, 115, 255, 1);
  border-style: hidden;
  border-width: 1px;
  border-radius: 15px;
}

.frame2-ellipse2 {
  top: 13px;
  left: 48px;
  width: 57px;
  height: 54px;
  position: absolute;
}

.frame2-text {
  top: 5px;
  left: 51px;
  color: rgba(0, 0, 0, 1);
  width: 51px;
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: center;
  font-family: Dela;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  cursor: pointer
}

.frame2-component-default1 {
  rotate: 26deg;
  top: 60px;
  left: 6px;
  width: 154px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-rectangle141 {
  top: 7px;
  left: 0px;
  width: 154px;
  height: 73px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}

.frame2-rectangle151 {
  top: 15px;
  left: 8px;
  width: 155px;
  height: 80px;
  position: absolute;
  border-color: rgba(171, 115, 255, 1);
  border-style: hidden;
  border-width: 1px;
  border-radius: 15px;
}

.frame2-ellipse21 {
  top: 13px;
  left: 48px;
  width: 57px;
  height: 54px;
  position: absolute;
}

.frame2-text001 {
  top: 5px;
  left: 51px;
  color: rgba(0, 0, 0, 1);
  width: 51px;
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: center;
  font-family: Dela;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-component-default2 {
  top: 93px;
  left: 0px;
  width: 154px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-rectangle142 {
  top: 7px;
  left: 0px;
  width: 154px;
  height: 73px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}

.frame2-rectangle152 {
  top: 15px;
  left: 8px;
  width: 155px;
  height: 80px;
  position: absolute;
  border-color: rgba(171, 115, 255, 1);
  border-style: hidden;
  border-width: 1px;
  border-radius: 15px;
}

.frame2-ellipse22 {
  top: 13px;
  left: 48px;
  width: 57px;
  height: 54px;
  position: absolute;
}

.frame2-text002 {
  top: 5px;
  left: 51px;
  color: rgba(0, 0, 0, 1);
  width: 51px;
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: center;
  font-family: Dela;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  text-shadow: 5px 1px 50px black;
}

.frame2-group16 {
  border-radius: 50px;
  top: 467px;
  left: 581px;
  width: 274px;
  height: 78px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgb(14, 13, 13);
}

.frame2-text003 {
  top: 21px;
  left: 29px;
  color: rgb(235, 225, 225);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: Dela;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-line3 {
  top: 2573px;
  left: 1402px;
  width: 1395px;
  height: 1px;
  position: absolute;
}

.frame2-text005 {
  top: 2611px;
  left: 7px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  /* box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.25); */
  font-style: Regular;
  text-align: left;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-rectangle13 {
  top: 1918px;
  left: 798px;
  width: 558px;
  height: 256px;
  position: absolute;
  border-radius: 50px;
}

.frame2-text018 {
  top: 1941px;
  left: 829px;
  color: rgba(255, 255, 255, 1);
  width: 497px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-rectangle131 {
  top: 1846px;
  left: 1082px;
  width: 274px;
  height: 57px;
  position: absolute;
  border-radius: 50px;
}

.frame2-text020 {
  top: 1860px;
  left: 1105px;
  color: rgb(255, 255, 255);
  width: 215px;
  height: auto;
  position: absolute;
  font-size: 20px;
  text-align: left;
  font-family: "Avenir";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}


.frame2-image6 {
  top: 2300px;
  left: 188px;
  width: 71px;
  height: 58px;
  position: absolute;
}


.frame2-image7 {
  top: 2294px;
  left: 107px;
  width: 68px;
  height: 68px;
  position: absolute;
}

.frame2-text022 {
  top: 2248px;
  left: 52px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: right;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-rectangle132 {
  top: 2189px;
  left: 925px;
  width: 279px;
  height: 59px;
  position: absolute;
  border-radius: 50px;
}

.frame2-text024 {
  top: 2205px;
  left: 996px;
  color: rgba(255, 255, 255, 1);
  width: 138px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-text026 {
  top: 1843px;
  left: 53px;
  color: rgba(0, 0, 0, 1);
  width: 665px;
  height: auto;
  position: absolute;
  font-size: 20px;
  text-align: left;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-text041 {
  top: 2391px;
  left: 62px;
  color: rgba(0, 0, 0, 1);
  width: 665px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  border-bottom: 2px solid black;
}


.frame2-rectangle133 {
  top: 1845px;
  left: 793px;
  width: 280px;
  height: 59px;
  position: absolute;
  border-radius: 37px;
}

.frame2-text052 {
  top: 1858px;
  left: 814px;
  color: rgba(255, 255, 255, 1);
  width: 219px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}


.frame2-frame1 {
  top: 287px;
  left: 122px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-unleashyour-options-gamewith-animation {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0);
}

.frame2-u {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text054 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-n {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text056 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 100;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-l {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text058 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-e {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text060 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-a {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text062 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-s {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text064 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-h {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text066 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-frame {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text068 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-y {
  top: 0px;
  left: 0px;
  width: 1168px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text070 {
  left: -14.974358558654785px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-o {
  top: 0px;
  left: 0px;
  width: 1168px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text072 {
  left: -14.974358558654785px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-u1 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text074 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-r {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text076 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-frame1 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text078 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-o1 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text080 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-p {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text082 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-t {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text084 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-i {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text086 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-o2 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text088 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-n1 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text090 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-s1 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text092 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-frame2 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text094 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-g {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text096 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-a1 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text098 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-m {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text100 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-e1 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text102 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-frame3 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text104 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-w {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text106 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-i1 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text108 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-t1 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text110 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-h1 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text112 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-frame4 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text114 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-g1 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text116 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-l1 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text118 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-i2 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text120 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-t2 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text122 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-t3 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text124 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-e2 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text126 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-r1 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text128 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-frame5 {
  top: 0px;
  left: 0px;
  width: 1166px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame2-text130 {
  left: -14.948718070983887px;
  color: rgba(0, 0, 0, 0);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2-line1 {
  top: 1345.5px;
  left: 1353px;
  width: 510px;
  height: 1px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.frame2-line2 {
  top: 1194px;
  left: 563px;
  width: 510px;
  height: 1px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.frame2-text132 {
  top: 1390px;
  left: 685px;
  color: rgba(0, 0, 0, 1);
  width: 665px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: right;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;

}

.frame2-text139 {
  top: 917.0000610351562px;
  left: 59px;
  color: rgba(0, 0, 0, 1);
  width: 665px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: justified;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  border-bottom: 2px solid black;
}

.frame2-screenshot20230626at3441 {
  top: 1368px;
  left: 47px;
  width: 350px;
  height: 350px;
  position: absolute;
  border-radius: 58px;
}

.frame2-screenshot20230626at3471 {
  top: 846px;
  left: 1000px;
  width: 350px;
  height: 350px;
  position: absolute;
  border-radius: 58px;

}

.frame2-rectangle3 {
  top: 1664.0001220703125px;
  left: 0px;
  width: 99px;
  height: 89px;
  position: absolute
}

.frame2-rectangle4 {
  top: 807px;
  left: 1303px;
  width: 99px;
  height: 89px;
  position: absolute;
}

.frame2-rectangle5 {
  top: 418px;
  left: 812px;
  width: 99px;
  height: 89px;
  position: absolute;
}

.frame2-rectangle6 {
  top: 520.5626831054688px;
  left: 528.749267578125px;
  width: 99px;
  height: 89px;
  position: absolute;
}

.frame3-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.frame3-frame3 {
  width: 100%;
  height: 1966px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
}

.frame3-group21 {
  top: -2px;
  left: -4px;
  width: 1512px;
  height: 1972px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame3-group20 {
  top: 0px;
  left: 0px;
  width: 1512px;
  height: 1966px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame3-rectangle6 {
  top: 983px;
  left: 0px;
  width: 1512px;
  height: 983px;
  position: absolute;
}

.frame3-rectangle5 {
  top: 0px;
  left: 0px;
  width: 1512px;
  height: 983px;
  position: absolute;
}

.frame3-group19 {
  top: 2px;
  left: 0px;
  width: 1512px;
  height: 1970px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame3-group18 {
  top: 0px;
  left: 0px;
  width: 1512px;
  height: 1970px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-image: linear-gradient(61deg, rgba(213, 206, 255, 1) 0%, rgba(56, 24, 251, 0) 100%);
}

.frame3-home {
  top: 22px;
  left: 32px;
  width: 215px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50px;
}

.frame3-text {
  top: 5px;
  left: 46px;
  color: rgba(255, 255, 255, 1);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  cursor: pointer;
}

.frame3-exp {
  gap: 10px;
  top: 368px;
  left: 366px;
  width: 780px;
  height: 50px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.30000001192092896);
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}

.frame3-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame3-rectangle13 {
  top: 82px;
  left: 1160px;
  width: 241px;
  height: 52px;
  position: absolute;
  border-radius: 50px;
}

.frame3-text04 {
  top: 89px;
  left: 1155px;
  color: rgba(255, 255, 255, 1);
  width: 247px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame3-text06 {
  top: 223px;
  left: 202px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame3-home1 {
  top: 777px;
  left: 641px;
  width: 215px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50px;
}

.frame3-text11 {
  top: 5px;
  left: 46px;
  color: rgba(255, 255, 255, 1);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame3-text13 {
  top: 1567px;
  left: 736px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none
}

.frame3-line3 {
  top: 1804px;
  left: 1453px;
  width: 1395px;
  height: 1px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.frame3-group17 {
  top: 1724px;
  left: 58px;
  width: 920px;
  height: 65.26315307617188px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-bottom: 2px solid black;
}

.frame3-image6 {
  top: 4px;
  left: 491px;
  width: 71px;
  height: 58px;
  position: absolute
}


.frame3-image7 {
  top: 0px;
  left: 415px;
  width: 64px;
  height: 65px;
  position: absolute;
}

.frame3-text15 {
  top: 12px;
  color: rgba(0, 0, 0, 1);
  width: 920px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Avenir;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame3-text17 {
  top: 2200px;
  left: 6px;
  color: rgb(67 202 222);
  background-color: #0e0d0d;
  font-weight: bolder;
  text-shadow: 2px 2px 3px #00008b, 4px 4px 5px #00008b;
  position: relative;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Avenir;
  margin: 15px;
}

.table {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: table;
  box-sizing: border-box;
  border-spacing: 10px;
  border-color: gray;
  font-size: 0.9em;
  min-width: 10px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(16 182 224);
  font-family: Avenir;
  top: 76px;
}

table thead tr {
  background-color: #37e8f5;
  color: #0e0d0d;
  text-align: left;
}

table th,
table td {
  padding: 12px 15px;
  border: 1px solid #f7f8f8;
  background-color: #0ec0ec;
}

table tbody tr {
  border-bottom: 1px solid #0ec0ec;
}

table tbody tr:nth-of-type(even) {
  background-color: #090df3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.drop-down {
  display: flex;
  position: absolute;
  top: 10px;
  top: 550px;
  left: 700px;
  justify-content: space-between;
  align-items: center;
}

.select-1 {
  background-color: black;
  font-family: Avenir;
  color: white;
  right: 430px;
  position: absolute;
  width: 151px;
  height: 44px;
  border-radius: 50px;
}

.select-2 {
  background-color: black;
  font-family: Avenir;
  color: white;
  position: absolute;
  width: 170px;
  height: 44px;
  border-radius: 50px;
}

.select-3 {
  background-color: black;
  font-family: Avenir;
  color: white;
  left: 500px;
  position: absolute;
  width: 151px;
  height: 44px;
  border-radius: 50px;
}

.reset_button {
  position: absolute;
  top: -65px;
  left: 79px;
}

.game {
  position: absolute;
  font-family: Avenir;
  left: 219px;
  top: 298px;
  font-size: 50px;
}

.cq {
  font-size: 40px;
}

.h1{
  text-align: center;
  font-size: 45px;
  color: rgb(67 202 222);
  font-family: Avenir;
  background-color: #0e0d0d;
  
}

.Search{
  right: 296px;
  position: absolute;
}

.Price{
  right: 566px;
  position: absolute;
}


.range{
  right: 756px;
  position: absolute;
  top: 84px;
  /* width: 80px; */
  height: 22px;

}

.stock{
  right: 1013px;
  position: absolute;
}


.date{
  right: 881px;
  position: absolute;
}


.align{
  text-align: center;
  position: relative;
  top: 62px;
  font-family: Avenir;
  color: rgb(67 202 222);
  font-weight: bolder;
  background-color: #0e0d0d;

}


.second{
  right: 374px;
  position: absolute;

}